.infoBoxWrapper {
    padding: 20px 25px 20px 18px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    li {
        position: relative;
        padding: 5px 0 5px 20px;
        line-height: 28px;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(50%, -50%);
            width: 8px;
            height: 8px;
            background-color: #e7e7e7;
            border-radius: 50%;
        }
    }
    .infoBoxTitle {
        color: #014db8;
        font-size: 20px;
        font-weight: 500;
        line-height: 35px;
    }
}
